<body>
<div class="panel" *ngIf="user">
  <div class="card-container">
    <div class="left-card">
      <div class="imagen">
        <img src="../../assets/img/profile.png" alt="Foto de perfil" class="profile-pic">
      </div>
      <div class="user-info">
        <p class="text"><span>Nombre:</span> {{user.nombre}}</p>
        <p class="text"><span>Apellido:</span> {{user.apellidos}}</p>
        <p class="text"><span>Celular:</span> {{user.telefono}}</p>
        <p class="text"><span>DNI:</span> {{user.dni}}</p>
        <p class="text"><span>Nivel de cuenta:</span> {{user.nivel}}</p>
      </div>
    </div>

    <!-- Información adicional y botones en el lado derecho -->
    <div class="right-card">
      <div class="account-info">
        <p class="created"><span>Cuenta creada:</span> {{user.daycreate}}</p>
        <p class="email"><span>Correo:</span> {{user.correo_electronico}}</p>
        <p class="password"><span>Contraseña:</span> *********</p>
      </div>
      <div class="actions">
        <button class="boton" onclick="cancelarSuscripcion()">Cancelar Suscripción</button>
        <button class="boton" onclick="renovarSuscripcion()">Renovar Sub</button>
        <a class="boton1" href="./">Cerrar Sesion </a>
      </div>


    </div>
  </div>
</div>
</body>
