<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>CONTACT US</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">



  <div class="container m-5">
    <form action="https://api.web3forms.com/submit" method="POST" target="_blank">
      <input type="hidden" name="access_key" value="e2c32ce6-a37f-4633-b433-f620757a8f90">
      <div class="mb-3">
        <label for="email" class="form-label">Full Name</label>
        <input type="name"
               name="name" required
               class="form-control"
               id="name"
               placeholder="John Doe"
               formControlName="name"
               [ngClass]="{'is-invalid' : hasError('name', 'required') || hasError('name', 'name')}"
        >
        <span class="text-danger" *ngIf="hasError('name', 'required')">Full Name obligatorio</span>
        <span class="text-danger" *ngIf="hasError('name', 'name')">Full Name inválido</span>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email"
               name="email" required
               class="form-control"
               id="email"
               placeholder="name@example.com"
               formControlName="email"
               [ngClass]="{'is-invalid' : hasError('email', 'required') || hasError('email', 'email')}"
        >
        <span class="text-danger" *ngIf="hasError('email', 'required')">Email obligatorio</span>
        <span class="text-danger" *ngIf="hasError('email', 'email')">Email inválido</span>
      </div>
      <div class="mb-3">
        <label for="motivo" class="form-label">Motivo de contacto: </label>
        <textarea
          class="form-control"
          name="message" required
          id="motivo"
          rows="3"
          formControlName="motivo"
          [ngClass]="{'is-invalid' : hasError('motivo', 'required') || hasError('motivo', 'minlength')}"
        ></textarea>
        <span class="text-danger" *ngIf="hasError('motivo', 'required')">Motivo obligatorio</span>
        <span class="text-danger" *ngIf="hasError('motivo', 'minlength')">Requiere al menos 10 caracteres</span>
      </div>
      <button type="submit" class="btn btn-primary">Submit Form</button>

    </form>



  </div>



</div>
