<div class="reventa-container">
  <div class="reventa-introduccion">
    <h1 class="reventa-titulo">Mis entradas</h1>
    <div class="reventa-descripcion">
      <p>Tickets disponibles para la reventa.</p>
      <p><b>Ver más:</b> Se muestra la información detallada de la entrada.</p>
      <p><b>Revender:</b> Se inicia el proceso de reventa de la entrada.</p>
    </div>
  </div>
  <div class="entradas-list">
  @for(entrada of entradas; track entrada.id) {
    <mat-card class="entrada-card">
      <mat-card-header class="entrada-header">
        <mat-card-title class="entrada-titulo">{{ entrada.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="entrada-contenido">
        <p class="entrada-precio">Precio: {{ entrada.price }} soles</p>
      </mat-card-content>
      <mat-card-actions class="entrada-acciones">
        <button mat-button class="btn-ver-mas" (click)="openDetails(entrada)">Ver más</button>
        <button mat-button class="btn-revender" (click)="openTerms(entrada)">Revender</button>
      </mat-card-actions>
    </mat-card>
  }
  </div>
</div>
